body {
    background-color: darkslateblue;
    color: goldenrod;
    text-align: center;
}

h1 {
    font-family: 'Arizonia', cursive;
    font-size: 5rem;
}

#printer {
    padding-top: 15vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}